.container {
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 30px;
  font-family: "Jost", sans-serif;
  color: #000000;
}

.grid_container {
  flex: 1 1 auto;
  display: grid;
  overflow: hidden;
  gap: 8px;
  grid-template-columns: 17% 1fr 23%;
  grid-template-rows: 13% 13% 1fr 20%;
  grid-template-areas:
    "header header header"
    ". selection-by-cities ."
    "selection-zone database vl_cards"
    "total-info-area total-info-area total-info-area";
}

.header {
  background-color: #002d63;
  border-radius: 12px;
  grid-area: header;
  display: grid;
  grid-template-columns: 17% 1fr 23%;
  gap: 8px;
  align-items: center;
}

.footer_logo {
  position: relative;
  width: 88px;
  height: 85px;
  margin-left: 17px;
}

.footer_logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.database_name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.name_wrapper h1 {
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
}

.search_form {
  color: #b3b3b3;
  font-size: 16px;
  padding-bottom: 10px;
}

.search-input {
  width: 320px;
  height: 40px;
  border-radius: 12px;
  align-self: first baseline;
  text-indent: 20px;
}

.search-input::placeholder {
  background-image: url("./resources/Icons.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.selection_by_cities {
  grid-area: selection-by-cities;
  border-radius: 12px;
  background: #e8f2f6;
}

.select_zone {
  grid-area: selection-zone;
  background: #e8f5fa;
  border-radius: 12px;
}

.database {
  grid-area: database;
  background-color: #f3f3f3;
  border-radius: 12px;
}

.vol_cards {
  grid-area: vl_cards;
  border-radius: 12px;
  background: #f1f1f1;
}

.total {
  grid-area: total-info-area;
  border-radius: 12px;
  background: #f3f3f3;
}
