.wrapper {
     min-width: 100vw;
     min-height: 100vh;
     font-family: "Jost", sans-serif;
     color: #000000;
     display: grid;
     grid-template-columns: 17% 60% 23%;
     grid-template-rows: 13% 24% 37% 26%;
     }

.header {
    border: 1px solid green;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo img {
    width: 88px;
    height: 85px;
    top: 29px;
    left: 123px;
}